# Virtual Environment
venv/

# Editor Configurations
.vscode/
.idea/

# Python
__pycache__/

# Pip
src/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Output files, except requirements.txt
*.txt
!requirements.txt
!requirements-dev.txt

# Comma-Separated Values (CSV) Reports
*.csv

# Excluded sites list
tests/.excluded_sites

# MacOS Folder Metadata File
.DS_Store

# Vim swap files
*.swp

# Tox env
.tox
.mypy_cache
.pytest_cache
*.egg-info